.login-background {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.left-part {
  width: 60%;
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.login-card {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 60%;
  align-items: center;
  background: #fefeff;
  padding: 40px;
  box-shadow: 1px 10px 40px 15px rgba(7, 7, 7, 0.08);
}
.login-logo {
  width: 53px;
  height: 43px;
  flex-shrink: 0;
}
.login-text {
  color: var(--Light-blue-gray-900, #0f172a);
  text-align: center;
  font-family: "DM Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
}
.logo-name {
  color: #f7931e;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.image-login {
  height: 100vh;
  position: fixed;
  right: 0;
  width: 40%;
}
.labels {
  color: var(--Light-blue-gray-600, #475569);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.left-align {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}
.input {
  border-radius: 8px;
  background: var(--Light-blue-gray-200, #e2e8f0);
  outline: none;
  border: solid 2px transparent;
  width: 100%;
  height: 40px;
  font-size: 15px;
  color: #0f172a;
}
.login-button {
  border-radius: 8px;
  background: #f7931e;
  color: #e2e8f0;
  width: 100%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  font-family: "DM sans";
  border: #e2e8f0 solid 1px;
}
.error-msg {
  color: var(--Light-red-500, #ef4444);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.rig {
  display: none;
}
@media screen and (max-width: 768px) {
  .left-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .login-card {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    background: #fefeff;
    padding: 40px;
    box-shadow: none;
  }

  .image-login {
    display: none;
  }
  .login-container {
    padding: 0px;
  }
  .mobile-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .login-card-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 30px;
  }
  .login-text-mobile {
    color: var(--Light-blue-gray-900, #0f172a);
    font-family: "DM Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
  }
  .top-bg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 50vh;
    width: 100vw;
    padding-left: 30px;
    background-image: url("../Images/SmallLogin.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  }
  .rig {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login-button2 {
  border-radius: 8px;
  background: #a29f9a;
  color: white;
  width: 100%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  font-family: "DM sans";
  border: #e2e8f0 solid 1px;
}
.login-button {
  border-radius: 8px;
  background: #f7931e;
  color: #e2e8f0;
  width: 100%;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  margin-right: 5px;
  font-family: "DM sans";
  border: #e2e8f0 solid 1px;
}
